.public-layout-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

    .public-jokes-container, .favorites-jokes-container{
      width: calc(50% - 40px);
      min-width: 300px;
      margin: 20px;
    }

    .favorites-jokes-container{
      app-timer{
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
      }

      .favorites-jokes-card{
        mat-card-header{
          align-items: center;

          mat-card-title{
            margin: 0;
          }
        }
      }
    }
}

:host ::ng-deep{
  .mat-progress-bar{
    border-radius: 4px 4px 0 0!important;
  }
}
